* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 300px;
  width: 300px;
  border: 1px solid #bfbfbf;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.6);
}

.card-pic img {
  height: 180px;
  width: 100%;
}

.card-text {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
