* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.seats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    font-size: 1.3em;
}

.container {
    height: 360px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    height: 60px;
    width: 60px;
    border: 1px solid red;
}

.box:hover {
    background: rgb(243, 97, 97);
}