@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1; 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: auto; */
}


h1.list {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.calorie-list {
  margin-top: 20px;
  width: 45%;
  height: 350px;
  overflow-y: auto;
  box-shadow: 2px 3px 9px -1px #000;
  background: #f2f2f2;
}

.calorie-list .cards {
  padding: 15px 10px;
  margin: 10px 20px;
  transition: 0.3s;
  border-bottom: 1px solid salmon;
  background-color: white;
}

.calorie-list .cards:hover {
  border-left: 10px solid salmon;
}


.calorie-list .empty {
  margin-top: 10px;
  text-align: center;
}

.calorie-list .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calorie-list .cards .del-btn {
  cursor: pointer;
  transition: 0.45s;
}

.calorie-list .cards .del-btn:hover {
  transform: scale(1.5);
}