body{
  margin: 0px;
  padding: 0px;
  /* background-size: cover; */
  /* background: linear-gradient(to top right, #5c374c, #6a5476, #6d749e, #6997bf, #68bad6, #5bc4e4, #49cff2, #29d9ff, #00c9ff, #6db2ff, #be8fff, #fb5fdd); */
  line-height: 0.5;
  height: 100%;
}

.calc{
  /* content: "Calculator"; */
  width: 500px;  
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.25px;
  /* border: 1px solid rgb(180, 241, 236); */
  text-align: center;
}

form {
  /* border: 2px solid rgb(180, 241, 236); */
  box-shadow: 3px 3px 5px 3px #aaa;
  border-radius: 5%;
}

#display{
  padding: 0 10px;
  outline: none;
  background-color: white;
  border-radius: 30px;
  color: black;
  width: 300px;;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  height: 60px;
  margin: auto;
  border:2px solid red;
}

.btnDesign{
  width: 55px; 
  height:55px;
  border: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300px;
  border-radius: 30px;
  margin: 5px;
  background-color: rgb(180, 241, 236);

}

.operator{
  width: 55px; 
  height:55px;
  padding-top: -1;
  border: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300px;
  border-radius: 30px;
  transition: 0.25px;
  cursor: pointer;
  background-color: rgb(180, 241, 236);
}

.operator:hover{
  background-color: rgb(17, 184, 250);
  transition: 0.25px;
}

.btnDesign:hover {
  background: rgb(191, 108, 240);
  transition: 0.25px;
}

#zeroButton{
  width: 120px; 
  height:55px;
  /* padding-top: 10px; */
  border: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300px;
  border-radius: 30px;
  margin-left: 2px;
  cursor: pointer;
  background-color: rgb(180, 241, 236);
}

h1{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin-top: 50vh;
  margin-left: 300px;
}
h4{
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style:oblique;
  margin-bottom: 40vh;
  margin-left: 500px;
}

.align1 {
  margin-left: 14px;
}

#zeroButton:hover {
  background-color: tomato;
  transition: 0.25s;
}