@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1.title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
    width: 500px;
    flex-direction: column;
    border: 1px solid rebeccapurple;
    padding: 10px;
    padding-left: 30px;
    border-radius: 20px;
}

.btn {
    height: 40px;
    width: 100px;
    background: none;
    outline: none;
    border: none;
    background: rgb(70, 70, 233);
    border-radius: 5px;
    color: rgb(170, 252, 255);
    /* font-weight: bolder; */
    font-size: 1.2em;
    letter-spacing: 1.3px;
}

.btn:hover {
    background: rgb(11, 11, 175);
    color: rgb(170, 252, 255);
}

